<h4>Dashboard Summary</h4>
<div class="row">
  <div class="col-xs-3">
    <div class='circle-multiline' style='background:#F0B67F'>
        <span style='font-size: 2.5em'>{{dashboardSummary?.productsTotal}}</span><br>
        Products
    </div>      
  </div>
  <div class="col-xs-3">
    <div class='circle-multiline' style='background:#FE5F55'>
        <span style='font-size: 2.5em'>{{dashboardSummary?.ordersTotal}}</span><br>
        Orders
    </div>      
  </div>
  <div class="col-xs-3">
    <div class='circle-multiline' style='background:#247BA0'>
        <span style='font-size: 2.5em'>{{dashboardSummary?.categoriesTotal}}</span><br>
        Categories
    </div>      
  </div>
  <div class="col-xs-3">
    <div class='circle-multiline' style='background:#D6D1B1'>
        <span style='font-size: 2.5em'>{{dashboardSummary?.suppliersTotal}}</span><br>
        Suppliers
    </div>      
  </div>
</div>
<p></p>
<div class="row">
	<div class="panel panel-default">
	  <div class="panel-heading"><h4>Order Details by Year-Month</h4></div>
	  <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Year</th>
            <th>Month</th>
            <th>Orders Placed</th>
            <th>Total Products per Order</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="#orderDetail of dashboardSummary?.ordersbyYearAndMonth" >
            <td>{{orderDetail.year}}</td>
            <td>{{orderDetail.month}}</td>
            <td>{{orderDetail.count}}</td>
            <td>{{orderDetail.products}}</td>
          </tr>
        </tbody>
      </table>
	  </div>
	</div>
</div>
